<!--Navbar -->
<header> 
  <nav class="navbar  navbar-expand-lg navbar-dark" id="navbar"  ngxHideOnScroll [propertyUsedToHide]="'top'" [valueWhenHidden]="'-100px'" [valueWhenShown]="'0px'">
    <div class="row">
  
    </div>
    <div class="container">
      <div  class="nav__logo" #nav__logo>
        <a pageScroll [pageScrollDuration]="500" class="navbar-brand" href="#home">
            <img id=nav__logo-img #nav__logo_img src="../../../assets/logo.svg" alt="logo" srcset="">
        </a>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
        aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" #navbarSupportedContent id="navbarSupportedContent-333">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show" >
            <a class="nav-link" pageScroll [pageScrollDuration]="500" href="#about">Sobre nós</a>
          </li>
          <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
            <a class="nav-link" pageScroll [pageScrollDuration]="500" href="#contact">Contato</a>
          </li>
          <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
            <a class="nav-link" pageScroll [pageScrollDuration]="500" href="#footer">Endereço</a>
          </li>
   
        </ul>
        <ul class="navbar-nav ml-auto nav-flex-icons">
          <li class="nav-item" >
            <a class="nav-link waves-effect waves-light">
              <i class="fab fa-instagram"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-effect waves-light">
              <i class="fab fa-whatsapp"></i>
            </a>
          </li>     
        </ul>
      </div>
    </div>
  </nav>
  </header>
  <!--/.Navbar -->