

nav {
  background: var(--first-color) !important;
  position: fixed;
  top: 0;
  width: 100%;
  transition: top 0.5s ease-in-out; 
}
#nav__logo-img {
  width: 2em;
  height: auto;
}
.navbar-brand{
  position: relative;
}
#navbar{
  z-index: 200;
}
@media screen and (min-width: 992px) {
  #nav__logo-img {
    width: 3em;
  }
  .navbar-brand{
    position: relative;
  }
  #navbar{
    z-index: 200;
  }
}
