<app-nav-bar></app-nav-bar>
<div id="img__logo" class="container" style="position: relative;">
</div>
<section class="containVideo" id="home" style="position: relative;">
  <video class="fullscreen" src="../../../assets/video/videoBanner.mp4" playsinline autoplay muted
    loop>
  </video>
</section>

<main class="main">
  <div class="container-flex">
    <hr class="my-5" />
    <app-about class="about" id="about"></app-about>
    <hr class="my-5" />
    <app-contact id="contact"></app-contact>
    <app-footer id="footer"></app-footer>
  </div>
</main>